<section id="new-player">
  <form id="avatar-form" class='form-block' method="post" action="/avatars">
    <div class='title'><h2>Drama School Registration</h2></div>
	<div class="triangle-l"></div>
	<div class="triangle-r"></div>
	
	<div class='para'>
      <p>Before you can do much of anything you'll need to register your schoolgirl by giving her a name. You can't change your name again, so pick a good one.</p>
    </div>
    <br />
	<div class='para'><p>
      <label>Name:</label>
	  <input type="text" autofocus="autofocus" name="nick" />
	</p></div>
    <br />
    <input id="avatar-submit" type="submit" class="button cmd" value="Join the drama" />
  </form>
</section>