<li>
  <h5><%= item.title %></h5>
  <p><%= item.description %></p>

  <% if (locals.money >= item.price ) { %>
    <form id="item-form" method="post" action="/items">	
      <input type="hidden" name="id" value="<%- item._id %>" />
      <input class="buy-button" type="submit" value="buy for <%- item.price %> drama ducats" />
    </form>	
  <% } else { %>	
    <form>
	  <input class="buy-button" type="submit" value="buy for <%- item.price %> drama ducats" disabled="disabled" />
	</form>
  <% } %>
</li>	