<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>Drama Royal</title>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Travis Dunn and Becca Black">
	<meta name="description" content="A Facebook game of girlish middleschool drama">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="/socket.io/socket.io.js"></script>
	<% if (isProductionEnv) {%>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<% } %>
	<script src="/js/minified.js"></script>
	<link rel="stylesheet" href="/css/minified.css">	
  </head>
  <body>
	<div id="container">
      <header id='header'>
	    <section id='title'>
          <% if (hasAvatar) { %><a>Oh, it's <em><%- avatarNick %></em></a><% } %>
      	  <img src='/img/placeholder.png' id='banner' />
        </section>
        <nav>
          <section id='widgets'>
            [news] [wall] [invite friends] [like]
          </section>
          <section id='screens'>
		    <% if ( isPlaying ){ %>
	          <a href='/games/<%- playingGameId %>'>Having Drama</a> 
	        <% } else if (hasAvatar) { %>
	          <a href='/games'>Homeroom</a>
	        <% } else { %>
	          <a href='/avatars/new'>Register</a>
		    <% } %>
	        <a href='/games'>Profile</a>
	        <a href='/games'>Shop</a>
	        <a href='/games'>Leaderboards</a>			
	      </section>
	    </nav>
      </header>
      <section id="main" role="main">
        <%- body %>	
      </section>
      <footer></footer>
    </div>
  </body>
</html>