#game .title {
  background-color:#ff524a;	
  -khtml-border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  height:25px;
  margin:12px 0 8px 0;
  vertical-align:top;
  width:675px;
}

#game .title #status {
  background-color:#fea066;	
  -khtml-border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #fff;
  color:#fff;
  display:inline-block;
  left:440px;
  padding:0 5px;
  position:relative;
  text-align:center;
  text-shadow:1px 0 1px #ff524a, -1px 0 1px #ff524a, 0 1px 1px #ff524a, 0 -1px 1px #ff524a;
  top:4px;
}

#game h2 {
  background-color:#fea066;	
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  -webkit-background-size: 100px 100px;
  -moz-background-size: 100px 100px;
  background-size: 100px 100px;
  border:4px solid #ff524a;
  color:#fff;
  -khtml-border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  letter-spacing:0.15em;
  margin:-15px 0 0 10px;
  padding:10px 5px;
  position:absolute;
  font-size: 22px;
  text-shadow:1px 0 1px #222, -1px 0 1px #222, 0 1px 1px #222, 0 -1px 1px #222;
  width:400px;
}

#game h5 {
  display:inline-block;	
  float:right;
  margin-top:20px;
}

.clock {
  background-color:#9bd8de;
  border:4px solid #ff524a;
  -khtml-border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  height:50px;
  margin:-35px 0px 0px 605px;
  position:absolute;
  overflow:hidden;
  width:50px;
}

.clock .rotate {
  position:absolute;
  width:50px;
  height:50px;
  top:0;
  left:0;
}

.rotate.right{
  display:none;
  z-index:11;
}

.clock .bg, .clock .front{
  width:25px;
  height:50px;
  background-color:#9bd8de;
  position:absolute;
  top:0;
}

#turn-timer {
  color:#F5F5F5;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:12px;
  font-weight:bold;
  left:0;	
  position:absolute;
  text-align:center;
  text-shadow:1px 0 #333, 0 1px #333, -1px 0 #333, 0 -1px #333;	
  top:18px;
  width:50px;
  z-index:20;
}

.clock .bg.left{ left:0; }

.orange .bg.left{ background:url(/img/timers/timer_orange.png) no-repeat left top; }
.green .bg.left{ background:url(/img/timers/timer_green.png) no-repeat left top; }
.blue .bg.left{	background:url(/img/timers/timer_blue.png) no-repeat left top; }

.clock .bg.right{ left:25px; }

.orange .bg.right{ background:url(/img/timers/timer_orange.png) no-repeat right top; }
.green .bg.right{ background:url(/img/timers/timer_green.png) no-repeat right top; }
.blue .bg.right{ background:url(/img/timers/timer_blue.png) no-repeat right top; }

.clock .front.left{
  left:0;
  z-index:10;
}

#game-players {
  border:1px solid #eee;	
  height:300px;	
  margin-top:18px;
  width:675px;
}

#player-list {
  height:300px;
  list-style:none;	
  margin:0;
  padding:0;
}

#player-list li {
  float:left;	
  height:300px;
  text-align:center;
  width:100px;
}

#player-list .esteem {
  color:red;
  font-size:11px;
  margin:20px 0 0 90px;	
  padding:0;
  position:absolute;
  list-style:none;
}

#player-list .esteem li {
  height:10px;
  float:none;
  text-shadow: 1px 0 1px #444, -1px 0 1px #444, 0 1px 1px #444, 0 -1px 1px #444;
  width:10px;
}

#player-list li .chat-bubble {
  background-color:#F2FFFB;
  border:2px solid #666666;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  height:100px;
  font-size:35px;
  line-height:1.3em;
  margin:2px 1px 0 0;
  overflow-y:auto;
  padding:3px;
  position:relative;
  text-align:left;
}

#player-list li .chat-bubble p {
  color:#000;
  font-size: 10px;
  line-height:11px;
  margin: 0 0 3px 0;
}

#player-list li .player-nick {
  display: inline-block;
  line-height:11px;
  margin-top:2px;
  overflow: hidden;
  position: absolute;
  text-align:center;
  white-space:nowrap;
  width:105px;
  z-index:100;
}

#player-list li .player-nick a {
 display:block;	
}

#player-list li .player-nick span {
  font-size:9px;	
}

#new-game h2 {
  font-size:18px;	
}

.console-block,
#game-console {
  display:inline-block;	
}

.player-controls {
  position: relative;
  text-align:center;
  top:-3px;
  white-space:nowrap;	
}

#turn-outcomes {
  background-color:#fea066;	
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  border: 1px solid #EEE;
  height: 350px;
  margin-top:-50px;
  overflow:hidden;
  position:relative;
  width: 675px;
  z-index:50;
}

#outcome-pages {
  list-style:none;
  margin-left:0;
  padding-left:0;
  white-space:nowrap;
}

#outcome-pages li {
  display:inline-block;	
  height:300px;
  vertical-align:top;
  width:700px; 
}

#outcome-pages li p {
  background-color:#999;	
  color:#ffffff;
  display:inline-block;
  height:100px;
  position:absolute;
  margin-top:200px;
  width:100%;
}

.command {
  background-color:#ccc;
  border:1px solid transparent;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  -khtml-border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.6);
  color:#fff;
  cursor:pointer;
  display:inline-block;
  font-size:9px;
  margin-right:1px;
  padding: 3px 1px 1px 1px;
  text-align:center;
}

.command.hidden {
  display:none;
}

button.command:disabled, input.command:disabled {
  -moz-opacity:.50; 
  -ms-filter:"alpha(opacity=50)"; 
  filter:alpha(opacity=50); 
  opacity:.50; 
}

.command.selected {
  border-color:#555;
  box-shadow: 0 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.75);
}

.command.pink:hover { background-color: #e22092; }
.command.pink { background-color: #c81e82; }
.command.green:hover { background-color: #91bd09; }
.command.green;{ background-color: #749a02; }
.command.red:hover,
.command.red.selected { background-color: #EE110E; }
.command.red,
.command.red.disabled:hover { background-color: #AB1D1D; }
.command.kick.orange:hover,
.command.kick.orange.selected { background-color: #ff5c00; }
.command.kick.orange,
.command.kick.orange.disabled:hover { background-color: #d45500; }
.command.blue:hover, 
.command.blue.selected { background-color: #2787EE; }
.command.blue,
.command.blue.disabled:hover { background-color: #1F65B4; }
.command.yellow:hover { background-color: #ffb515; }
.command.yellow { background-color: #fc9200; }

.doll {
  display:inline-block;
  margin:15px 0 0 0;	
  padding:0;
}

.paperdoll {
  height:150px;	
  width:110px;
}

.paperdoll-arms {
  position:absolute;
  margin-top:-15px;
  width:110px;	
}

.doll.flip .paperdoll, .doll.flip .paperdoll-arms {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: fliph; /*IE*/
}

.doll .scratches {
  margin-left:38px;	
  margin-top:35px;
  position:absolute;
  z-index:10;
}