#game h2 {
 font-size: 18px;
}

#game h5 {
  display:inline-block;	
  float:right;
}

#turn-timer, #game-status {
  display:inline-block;	
  margin: 0 5px;
}

#game-players {
  border:1px solid #eee;	
  height:300px;	
  width:700px;
}

#player-list {
  height:300px;
  list-style:none;	
  margin:0;
}

#player-list li {
  float:left;	
  height:300px;
  text-align:center;
  width:115px;
}

#player-list .paperdoll {
  height:150px;	
  width:115px;
}

#player-list .esteem {position:relative;
  margin-bottom:-20px;	
  float:right;	
}

#player-list li .chat-bubble {
  border:1px solid #eee;
  height:100px;
}

#player-list li button {
  font-size:9px;	
  padding:0;
}

#new-game h2 {
  font-size:18px;	
} 

#game-form {
  height:400px;	
  padding:10px;
}
#game-form label {
  display:inline-block;	
  width:100px;
}
#game-form p {
  height:40px;	
}

.console-block,
#game-console {
  display:inline-block;	
}

#game-console input[type=text] {
  border:1px solid #ccc;	
  height:40px;
  font-size:16px;
  margin-right:20px;
  padding:5px;
  width:300px;	
}

.player-controls {
  white-space:nowrap;	
}

#game-console button,
#game-console input[type=submit] {
  margin-right:20px;
}

#chat-status {
  display:inline-block;	
  margin-bottom:10px;
  width:200px;	
}

#turn-outcomes {
  border: 1px solid #EEE;
  height: 300px;
  overflow:hidden;
  position:relative;
  width: 700px;
}

#outcome-pages {
  list-style:none;	
  white-space:nowrap;
}
#outcome-pages li {
  display:inline-block;	
  height:300px;
  width:700px; 
}
#outcome-pages li p {
  background-color:#999;	
  color:#ffffff;
  display:inline-block;
  height:100px;
  left:0px;
  position:relative;
  top:200px;
  width:100%;
}

button.command, input.command {
  background-color:#ccc;
  border:solid 1px #444;	
  color:#222;
  cursor:pointer;
}

button.command.selected, input.command.selected {
  background-color:#ddd;
  border-color:#999;
  color:#666;
}

button.command:disabled, input.command:disabled {
  -moz-opacity:.50; 
  -ms-filter:"alpha(opacity=50)"; 
  filter:alpha(opacity=50); 
  opacity:.50; 
}