a {
  text-decoration:none;	
}

#game h2 {
 font-size: 18px;
}

#game h5 {
  display:inline-block;	
  float:right;
}

#turn-timer, #game-status {
  display:inline-block;	
  margin: 0 5px;
}

#game-players {
  border:1px solid #eee;	
  height:300px;	
  width:700px;
}

#player-list {
  height:300px;
  list-style:none;	
  margin:0;
  padding:0;
}

#player-list li {
  float:left;	
  height:300px;
  text-align:center;
  width:110px;
}

#player-list .esteem {
  color:red;
  font-size:11px;
  margin:0 0 0 90px;	
  padding:0;
  position:absolute;
  list-style:none;
}

#player-list .esteem li {
  height:10px;
  float:none;
  width:10px;
}

#player-list li .chat-bubble {
  border:1px solid #eee;
  overflow-y:auto;
  height:100px;
  text-align:left;
}

#player-list li .chat-bubble p {
font-size: 10px;
line-height:11px;
margin: 0 0 3px 0;
}

#player-list li .player-nick {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align:center;
  top: -20px;
  white-space:nowrap;
  width:90px;
}

#player-list li .player-nick span {
  font-size:9px;	
}

#player-list li button {
  font-size:9px;	
  padding:0;
}

#new-game h2 {
  font-size:18px;	
} 

#game-form {
  height:400px;	
  padding:10px;
}
#game-form label {
  display:inline-block;	
  width:100px;
}
#game-form p {
  height:40px;	
}

.console-block,
#game-console {
  display:inline-block;	
}

#game-console input[type=text] {
  border:1px solid #ccc;	
  height:40px;
  font-size:16px;
  margin-right:20px;
  padding:5px;
  width:300px;	
}

.player-controls {
  position: relative;
  top: -20px;	
  white-space:nowrap;	
}

#game-console button,
#game-console input[type=submit] {
  margin-right:20px;
}

#chat-status {
  display:inline-block;	
  margin-bottom:10px;
  width:200px;	
}

#turn-outcomes {
  border: 1px solid #EEE;
  height: 300px;
  overflow:hidden;
  position:relative;
  width: 700px;
}

#outcome-pages {
  list-style:none;
  margin-left:0;
  padding-left:0;
  white-space:nowrap;
}
#outcome-pages li {
  display:inline-block;	
  height:300px;
  width:700px; 
}
#outcome-pages li p {
  background-color:#999;	
  color:#ffffff;
  display:inline-block;
  height:100px;
  position:absolute;
  margin-top:200px;
  width:100%;
}

button.command, input.command {
  background-color:#ccc;
  border:solid 1px #444;	
  color:#222;
  cursor:pointer;
}

button.command.selected, input.command.selected {
  background-color:#ddd;
  border-color:#999;
  color:#666;
}

button.command:disabled, input.command:disabled {
  -moz-opacity:.50; 
  -ms-filter:"alpha(opacity=50)"; 
  filter:alpha(opacity=50); 
  opacity:.50; 
}

#help {
  font-size:70%;
}

#help p {
  margin: 6px 0;	
}

#help h2 {
  margin:2px 0 6px 0;
}

#help h3 {
  margin:2px 0 3px 0;	
}

.leaderboard {
  margin-top:10px;	
  width:600px;
}

.leaderboard th {
  text-align:left;	
}

.leaderboard caption {
  font-size:16px;	
  margin:5px 0;	
  text-align:left;
}

.doll {
  display:inline-block;
  margin:0;	
  padding:0;
}

.paperdoll {
  height:150px;	
  width:110px;
}

.paperdoll-arms {
  position:absolute;
  margin-top:-15px;
  width:110px;	
}

.doll.flip .paperdoll, .doll.flip .paperdoll-arms {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: fliph; /*IE*/
}

#profile-score {
  list-style:none;	
  margin:none;
  padding:none;
}

#profile-score li {
  display:inline-block;	
  text-align:center;
}

#profile-score li h5 {
  background-color:#ccc;	
  margin:0;
}

#profile-score li span {
  font-size:24px;	
}