img {
  border:none;	
}

.hidden {display:none;}

#container {
  width:700px;	
}

#header {
  width:700px;	
}

#title {
  display:inline-block;	
  vertical-align:top;
  width:315px;	
}

#like-button {
  margin-left:5px;	
  position: absolute;	
}

#banner {
  height:75px;
  vertical-align:top;
  width:275px;	
}

header nav {
  display:inline-block;	
  width:345px;
}

#widgets {
  width:190px;	
}

#widgets .fb {
  background-color: #ECEEF5;
  border: 1px solid #CAD4E7;	
  -khtml-border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  cursor: pointer;
  color: #3B5998;
  display:inline-block;
  font-size:12px;	
  padding: 1px 4px 1px 4px;	
}

#widgets .fb span {
  background-color:#3B5998;
  border-color:#133783;
  -khtml-border-radius:1px;
  -webkit-border-radius:1px;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  border-radius:1px;
  color:#eee;
  display:inline-block;
  height:14px;
  padding:0 2px 1px 2px;
  position:relative;
  font-size:15px;
  top:1px;
}

#widgets .fb:hover {
  background-color: #EBEDF4;
  border-color: #9DACCE;
}

#screens {
  margin:14px 0 4px 0;	
}

#screens a {
  border:2px solid #1c4757;
  color:#fff;
  display:inline-block;
  font-size:15px;
  letter-spacing:0.07em;	
  margin-left:-7px;
  margin-bottom:10px;
  padding:4px 10px;
  position:relative;
  zoom:1;
}

#screen1 {
  background-color:#7aa5c8;	
  z-index:1;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg); 
  transform: rotate(-5deg);  
}

#screen2 {
  background-color:#557f57;
  bottom:-3px;
  z-index:2;
  -webkit-transform: rotate(9deg);
  -moz-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  -o-transform: rotate(9deg); 
  transform: rotate(9deg);
}

#screen3 {
  background-color:#b16b83;
  left:-5px;
  bottom:2px;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg); 
  transform: rotate(-7deg);
  z-index:3;
}

#screen4 {
  background-color:#de3382;
  left:-10px;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg); 
  transform: rotate(6deg);
  z-index:4;
}

#screens a:hover {
  -webkit-box-shadow: inset 0 0 3px 3px rgba(200,200,200,0.4);
  -moz-box-shadow: inset 0 0 3px 3px rgba(200,200,200,0.4);
  -ms-box-shadow: inset 0 0 3px 3px rgba(200,200,200,0.4);
  -o-box-shadow: inset 0 0 3px 3px rgba(200,200,200,0.4);
  box-shadow: inset 0 0 3px 3px rgba(200,200,200,0.4);
  top:-5px !important;
  z-index:10000;	
  padding-bottom:12px;
  margin-bottom:0;
  text-shadow: 1 -1px 2px #999;
}

#audio-controls[disabled=disabled] {
  -moz-opacity:.55; 
  -ms-filter:"alpha(opacity=55)"; 
  filter:alpha(opacity=55); 
  opacity:.55;
}

#audio-controls {
  display:inline-block;	
  margin-left:155px;
  cursor:pointer;
  background-color: #52a8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#52a8e8), to(#377ad0));
  background-image: -webkit-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -moz-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -ms-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -o-linear-gradient(top, #52a8e8, #377ad0);
  background-image: linear-gradient(top, #52a8e8, #377ad0);
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -ms-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -o-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #fff;
  font: normal 11px "lucida grande", sans-serif;
  padding: 1px 6px;
  text-align: center;
  -webkit-background-clip: padding-box; 
}

#audio-controls:hover {
  background-color: #3e9ee5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3e9ee5 0%), to(#206bcb 100%));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background-image: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background-image: -ms-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background-image: -o-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background-image: linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
  -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
  -ms-box-shadow: inset 0 1px 0 0 #62b1e9;
  -o-box-shadow: inset 0 1px 0 0 #62b1e9;
  box-shadow: inset 0 1px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  -webkit-background-clip: padding-box; 
}