.hidden {display:none;}

#container {
  width:700px;	
}

#header {
  width:700px;	
}

#title {
  display:inline-block;	
  vertical-align:top;
  width:400px;	
}

#title a {
  left:300px;	
  position:absolute;	
  font-weight:bold;
}

#banner {
  height:75px;
  vertical-align:top;
  width:275px;	
}

header nav {
  display:inline-block;	
  width:250px;
}

#widgets {
  width:190px;	
}