#lobby-wrapper {
  height:400px;
}

#lobby-wrapper h2 {
  font-size:18px;	
}

#lobby-chat-panel, #games-panel {
  float:left;	
}

#lobby-chat-panel {
  margin-right:15px;	
  width:375px;	
}

#games-panel {
  width:300px;	
}

#lobby-chat-panel h2, #games-panel h2 {
  margin:15px 0 5px 0;
}

#lobby-chat-panel h2 span, #games-panel h2 span {
  margin-left:45px;	
  font-size:16px;	
  font-weight:normal;
}

#lobby-chat-panel .desc, #games-panel .desc {
  clear:both;	
  font-size:12px;	
  font-style:italic;
  margin-bottom:10px;	
}

#lobby-chat {
  border:1px solid #eee;	
  overflow-y:scroll;
  height:350px;	
  width:375px;		
}

#game-list {
  border:1px solid #eee;	
  height:350px;
  list-style:none;
  margin:0;
  overflow-y:scroll;
  padding:0;
  width:300px;
}

#game-list ul {
  font-size:10px;	
  list-style:none;
  margin:0;
  padding:0;
}

#lobby-chat p {
  padding: 3px;
  margin: 0;
}

#lobby-chat p a {
  font-weight: bold;
}

.lobby-game {
  border-bottom:1px solid #eee;	
  margin:2px 5px; 	
  padding-bottom:5px;
}

.lobby-game h5 {
  font-size:14px;	
  margin: 5px 0 3px 0;	
}

#chat-controls {
  width:650px;	
}

#avatar {
  height:50px;	
  vertical-align:top;
  width:50px;	
}

.console-block,
#lobby-console {
  display:inline-block;	
}

#lobby-console input[type=text] {
  border:1px solid #ccc;	
  height:40px;
  font-size:16px;
  margin-right:20px;
  padding:5px;
  width:300px;	
}

#lobby-console input[type=submit] {
  margin-right:20px;
}

#chat-status {
  display:inline-block;	
  margin-bottom:10px;
  width:200px;	
}