.bio {
  margin:10px 0 0 125px;
  position:absolute;
  width:200px;	
}

#player-profile h5, #player-profile h6 {
  margin:0;
}

.bio h6 {
  font-size:14px;	
}

.bio h6 a { 
  cursor:pointer;
  font-size:11px;
}

.bio textarea {
  height:115px;	
  margin-top:3px;
  width:140px;
}

#player-profile .doll {
  background-color:#fff;	
  -khtml-border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
}

#profile-score {
  background-color:#fff;	
  list-style:none;	
  margin:10px 0 0 0;
  padding:5px;
}

#profile-score li {
  border:2px solid #83af9b;	
  display:inline-block;	
  text-align:center;
  width: 100px;
}

#profile-score li h5 {
  background-color:#83af9b;	
  color:#fff;
  margin:0;
}

#profile-score li span {
  font-size:24px;	
  line-height:32px;
  padding: 5px 2px;
}
