<section id="game-lobby">
  <div id='lobby-wrapper'>	
	<div id='lobby-chat-panel'>
	  <h2>Homeroom <span id='player-count'>(0 girls present)</span></h2>
	  <div id='lobby-chat-wrapper'>
	    <div class='desc'><span>Linger in the homeroom to chat with (and challenge) other girls while you wait for new drama to start.</span></div>
        <div id='lobby-chat'></div>
      </div>
	</div>
	
    <div id='games-panel'>	
	  <% var cnt = 0; for(var k in locals.games) {cnt=cnt+1}; %>

      <h2>Drama <span id='game-count'>(<%- cnt %> drama<%-cnt===1 ? '' : 's'%> in progress)</span></h2>
      <div id='game-list-wrapper'>
	    <div class='desc'><span>You can join any new drama that hasn't yet started, or else start your own and wait for others to join.</span></div>
        <ul id='game-list'>
	      <%- partial('game/ui/game', { collection: locals.games, userId: userId }) %>	
        </ul>
      </div>
    </div>	

  </div>

  <div id='chat-controls'>
	<%- partial('game/ui/lobby_console') %>
  </div>

  <div id='lobby-dashboard'>
	<div id='lobby-users'></div>
  </div>

</section>

<script type="text/javascript">
  $(document).ready(function() {
	Lobby.listen('<%- sessionId %>');
  });
</script>