<section id="new-game">
  <form id="game-form" class='form-block' method="post" action="/games">
    <div class='title'><h2>Start a New Drama</h2></div>
	<div class="triangle-l"></div>
	<div class="triangle-r"></div>
    <div class='desc'>After you create a drama others can join from the homeroom, but you'll need 2-to-5 more players to begin playing. If you grow impatient, you can "quit" at any time to return to the homeroom yourself.</div>
    <br />
	<p>
      <label>Title:</label>
      <input type="text" autofocus="autofocus" name="title" />
	</p>	
	<p>
	  <label>Type:</label>	
      <span>Public</span> <input type="radio" name="type" value="public" checked="checked">
      <span><em>Friends</em></span> <input type="radio" name="type" value="friends" disabled="disabled">
      <span><em>Private</em></span> <input type="radio" name="type" value="private" disabled="disabled">
    </p>
    <p>
	  <label>Pace:</label>	
      <span>Fast (1 min turns)</span> <input type="radio" name="pace" value="fast" checked="checked">
      <span>Slow (2 min turns)</span> <input type="radio" name="pace" value="slow">
    </p>
    <br />
    <input id="game-submit" type="submit" value="let the drama begin" class="button cmd" />
    &nbsp;&nbsp;&nbsp;
    <a href='/games' class="button link diminished">return to homeroom</a>
  </form>
</section>