<section id="game" data-duration="<%- locals.game.getTurnDuration() %>" data-cooldown="<%- locals.game.getCooldownDuration() %>">
  <div class='title'>	

    <h2><%= locals.game.title %></h2>
    <span id='status'><%- locals.game.status === 'pending' ? 'Waiting for more players' : ((locals.game.status === 'cooldown') ? 'Waiting for next turn' : 'Now playing turn ' + Math.max(locals.game.turns.length,1)) %></span>

    <%- partial('game/ui/timer') %>
  </div>

  <div id='game-players'>
	<ul id='player-list'>
      <% currentAction = locals.game.getActionForTurn( locals.userId, game.getCurrentTurn() ) %>		
      <%- partial('game/ui/player', { collection: locals.game.players, currentAction: currentAction }) %>
      <% for(var i = 0; i < 6 - locals.game.players.length; i++) { %>	
	    <li></li>
      <% } %>
	</ul>
  </div>

  <div id='turn-outcomes' class='hidden'>
    <div id="outcome-pagination">
      <a href="#" id="turn-outcome-pagination-previous" class="button prev"></a>
      <a href="#" id="turn-outcome-pagination-next" class="button next">&#10140;</a>
    </div>
    <ul id='outcome-pages' data-page='1' data-next='turn-outcome-pagination-next' data-previous='turn-outcome-pagination-previous'>
	</ul>
  </div>

  <%- partial('game/ui/drama_console') %>
</section>	

<script type="text/javascript">
  $(document).ready(function() {
	Drama.listen('<%- sessionId %>');
  });
</script>