<section id='help'class='form-block'>
 <div class='title'><h2>Rulebook and Game Guide</h2></div>	
 <div class="triangle-l"></div>
 <div class="triangle-r"></div>

  <p><b>Drama Royal is a treacherous game of schoolgirl catfights where you play a scurrilous young student defending her self-esteem by manipulating and abusing others.</b></p>

  <p>You'll fight friends and strangers by starting <strong>dramas</strong>, quick real-time games with three to six other players where the last two girls with esteem walk away with winning smirks while the others run to the bathroom for a cry.</p>

  <p>An in-game chat lets you talk openly about how and who best to tease, scratch, and grab. The results of your actions will ultimately depend on the actions of the other players, and you'll need to display a cunning balance of teamwork and betrayal to climb the popularity ladder of primary school and crush the other girls beneath your vicious little heels.</p>

  <h3>The Homeroom</h3>
  <p>The <strong>Homeroom</strong> is where other schoolgirls can be found, along with plenty of drama. You can <strong>start your own drama</strong> from here, or else <strong>join a drama</strong> created by another girl if any are pending. Only dramas with less than six players can be joined, and you may only join a drama that isn't already in progress.</p>

  <p>While in the homeroom, you can also chat with the other girls there, and see which players are involved in drama at the moment.</p>

  <h3>Dramas</h3>
  <p>When you first join a drama, it can't be started until three or more girls have joined and all the players have declared <strong>ready</strong>. Once everyone is ready the drama begins with the first turn; each turn lasts up to a minute during which time players choose an <strong>action</strong>. The turn ends once all players have acted or a minute has passed.</p>

  <p>Following each turn you'll see a slideshow depicting the <strong>outcome</strong> of the various players' actions. You'll have a thirty second <strong>cooldown</strong> period to review the results and chat with other players before a new turn begins. As the girls damage each other's <strong>self-esteem</strong>, eventually only one or two will remain and the drama will end (although it's possible for everyone to lose).</p>

  <p>Every girl starts a drama with ten points of self-esteem, and is humiliated once she reaches zero, losing the game. While a humiliated girl can still observe and chat with other players, she is mentally broken and no longer affect the drama.</p>

  <h3>Actions</h3>

  <p>The outcome of a turn is decided by the combined actions of the girls which then effect each other in interdependent ways. Attacks are most effective when coordinated between players and defense is most effective when correctly timed, making the tactics of actions the primary skill of a successful schoolgirl.</p>

  <ul>
    <li><strong>Scratch:</strong> <em>a girl's basic attack, the scratch damages one point of esteem with disfiguring wounds.</em></li>
    <li><strong>Grab:</strong> <em>a neutralizing attack causing no damage itself, a girl who is grabbed cannot scratch, tease, or take meds. If a grabbed girl is also scratched, the scratch damages an additional point of esteem.</em></li>
    <li><strong>Tease:</strong> <em>a combination attack, two or more girls must be teasing a target to effect her esteem. Teasing deals two points of esteem damage for each teaser after the first.</em></li>
    <li><strong>Cower:</strong> <em>a girl's basic defense, while cowering she cannot be scratched or grabbed.</em></li>
    <li><strong>Tattle:</strong> <em>calling the attention of her rivals to an adult, any girl who is scratching, teasing, or grabbing during a tattle suffer three points of damage to their esteem. If more than one girl tattles, however, only the tattlers lose three points of esteem. Notably, a tattle does not actually neutralize the effect of attacks.</em></li>
    <li><strong>Meds:</strong> <em>every girl is prescribed three meds per drama by the school psychiatrist she can take to regain two points of self esteem. If grabbed while medicating, the action is neutralized and the meds lost. If scratched, the meds are lost and the girl loses a point of esteem.</em></li>
  </ul>
</section>