<section id='home'>
  <% if (hasAvatar) { %>
    <h2>Welcome back,</h2>

    <p>Thanks for checking in. We're making nearly daily updates (<a href="http://twitter.com/dramaroyal" target="_blank">follow us on twitter</a> for detailed status updates) but there's still much to be done!</p>

    <p>You can help by inviting your friends to battle or waiting in the homeroom to greet newcomers. If you have any other feedback please leave a comment on the <a href="http://www.facebook.com/apps/application.php?id=153494728049768" target="_blank">wall</a>.</p>
  <% } else { %>
	<h2>Welcome,</h2>
	
    <p>We're just getting started, but please <a href='/avatars/new'>register your schoolgirl</a> and take a look around. There's a rash of truancy at the moment but you can help by inviting your friends to fight. After registering you'll get access to the homeroom where you can create drama! \^_^/</p>
    
    <p>To learn the rules go to the <a href='/help'>help page</a>. If you have any other feedback please leave a comment on our <a href="http://www.facebook.com/apps/application.php?id=153494728049768" target="_blank">wall</a>.</p>

    <p><a href="http://twitter.com/dramaroyal" target="_blank">Follow us on twitter</a> for regular development and any server status updates.</p>
  <% } %>

  <p>- student gov</p>
</section>