<section id='home'>
  <h2>Welcome,</h2>

  <p>We're just getting started so you must forgive state of things around here. If you're patient, I'm sure you'll have a cozy place for dramatics in no time at all.</p>

  <p>For <a href='/help'>help</a> with gameplay go to the <a href='/help'>help</a> page for <a href='/help'>help</a> with your <a href='/help'>help</a>.

  <p>If you stumble into a technical problem or have any thoughts on Drama Royal's development, please make note of it on the <a href="http://www.facebook.com/apps/application.php?id=153494728049768" target="_blank">wall</a> for public record and discussion. (In-game chats are for schoolgirls only - you're unlikely to find support of any kind from your classmates)</p>

  <p>Oh, and <a href="https://www.facebook.com/apps/application.php?id=153494728049768&sk=app_156218351098324">LIKE US ON FACEBOOK</a> so you'll see any game updates and aforementioned discussions in the first place (some people prefer <a href="http://twitter.com/dramaroyal" target="_blank">twitter</a>, though).</p>

  <p>- otherwise, boo you whores &gt;.&lt;</p>
</section>