<section id='home'>
  <h2>Welcome,</h2>

  <p>We're just getting started so you must forgive state of things around here. If you're patient, I'm sure you'll have a cozy place for dramatics in no time at all.</p>

  <p>If you stumble into a technical problem or have any thoughts on Drama Royal's development, please make note of it on the <a href="http://www.facebook.com/apps/application.php?id=153494728049768" target="_blank">wall</a> for public record and discussion. (In-game chats are for schoolgirls only - you're unlikely to find support of any kind from your classmates)</p>

  <p>Oh, and LIKE US so you'll see any game updates and aforementioned discussions in the first place.</p>

  <p>- otherwise, boo you whores &gt;.&lt;</p>
</section>