<section id='presence'>
  <p>A treacherous schoolgirl-based fighting game where you play a scurrilous young student defending her self-esteem by manipulating and abusing others.</p>

  <p>Dramas are played in real-time between 3-6 players over a series of turns. Every turn you'll select your action in secret, be it to tease, scratch, grab, tattle, or cower, and at the end of the turn all the players' actions are revealed and resolved. An in-game chat lets you taunt and persuade players to attack each other, while using your own actions to preserve your self-esteem and be the last girl not sobbing and dirty.</p>

  <p>The more dramas you win the more popularity your girl will acquire, which will profit her in all sorts of fabulous ways.</p>
	
  <p>schoolgirl, facebook, browser game, fighting game, tabletop, strategy, mmo, real time, multiplayer, social game, casual game, girl game, dress up, avatar, competitive</p>
  <p>
	<span>Forum:<span>
	<br />
	<a href="http://sissyfightschoolboard.yuku.com">sissyfightschoolboard.yuku.com</a>
  </p>
  <p>
	<span>Topsite:<span>
	<br />
	<a href="http://topbrowsergames.net/game/drama-royal/3418128">topbrowsergames.net</a>
  </p>
  <p>
	<span>Topsite:<span>
	<br />
	<a href="http://www.thegameslist.com/game/13379/Drama_Royal">thegameslist.com</a>
  </p>
  <p>
	<span>Topsite:<span>
	<br />
	<a href="http://topbbgs.com/index.php?view=view&id=313&game=Drama-Royal">topbbgs.com</a>
  </p>

</section>