<% player = JSON.parse(JSON.stringify(player)) %>
<% var isOwnPlayer = (player.userId+'' === locals.userId+'') %>
<% if (isOwnPlayer) locals.ownPlayerStatus = player.status %>

<li id="<%- player.userId %>" <%- (isOwnPlayer ? "data-self='true'" : "") %>>
  <p id="player-chat-<%- player.userId %>" class='chat-bubble'></p>
  <ul id="player-esteem-<%- player.userId %>" class='esteem'>
	<% for (var idx = 0; idx < player.esteem; idx++) { %><li>&hearts;</li><% } %>
  </ul>

  <span class='player-nick'>
    <a href="<%- 'https://apps.facebook.com/dramaroyal/profiles/' + player.userId %>" target="_blank">
      <%= player.nick %>
    </a>
    <span id="player-status-<%- player.userId %>">(<%- player.status %>)</span>
  </span>

  <div class='doll'>
	<% if (player.status === 'active' || player.status === 'pending') { %>
	  <img id="paperdoll-<%- player.userId %>-arms" class='paperdoll-arms' src='/img/avatars/basicarms.png'>
	<% } %>
    <img id="paperdoll-<%- player.userId %>" class='paperdoll' src="<%- player.status === 'active' || player.status === 'pending' ? '/img/avatars/normalstance.png' : '/img/avatars/defeatedstance.png' %>" />
  </div>

  <%- partial('game/ui/player_controls', {player: player, isOwnPlayer: isOwnPlayer, currentAction: currentAction}) %>
</li>