<div id='timer' class="orange clock">
  <div class="display" id="turn-timer">
    <% if ( locals.game.isActive() ) { %>	
      <% var currentTime = Date.now(); %> 
      <% var currentTurn = locals.game.getCurrentTurn() %>
      <% var startTime = new Date( currentTurn.ts ); %>
      <% var latencyDelay = 1; %>
      <% seconds = parseInt(( currentTime - startTime.getTime() ) / 1000.0) - latencyDelay; %>
      <%- (seconds >= 10) ? seconds : ('0' + seconds)  %>
    <% } else { %>00<% } %>	
  </div>
  <div class="front left"></div>
  <div class="rotate left">
    <div class="bg left"></div>
  </div>
  <div class="rotate right">
    <div class="bg right"></div>
  </div>
</div>